<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<form th:action="@{/admin/users/save/{userId}(userId=*{id})}"
      th:method="post"
      th:object="${userInfoViewModel}">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mobile number</th>
            <th scope="col">Email address</th>
            <th scope="col">Role</th>
        </tr>
        </thead>


        <tbody>
        <tr>
            <th scope="row" th:text="*{id}">1</th>
            <td>
                <input th:errorclass="'is-invalid alert-danger'"
                       th:field="*{firstName}"
                />
                <small class="invalid-feedback text-danger">First name must between 3 na 20 characters! </small>
            </td>
            <td>
                <input th:errorclass="'is-invalid alert-danger'"
                       th:field="*{lastName}"
                />
                <small class="invalid-feedback text-danger">Last name must between 3 na 20 characters! </small>
            </td>
            <td>
                <input th:errorclass="'is-invalid alert-danger'"
                       th:field="*{mobileNumber}"
                />
                <small class="invalid-feedback text-danger">The mobile number should be ten numbers and can not be null! </small>
            </td>

            <td>
                <input th:errorclass="'is-invalid alert-danger'"
                       th:field="*{email}"
                />
                <small class="invalid-feedback text-danger">The email should be valid and can not be null! </small>
                <p th:if="${emailIsNotFree}"
                   class="text-danger" style="color: red"> This email is registered already! </p>
            </td>

            <td th:if="*{id != 1}">
                <div class=" cow mb-4 form-check">
                    <input class="form-check-input"
                           id="checkBoxIsAdmin"
                           th:checked="*{isHaveAdminRole()}"
                           th:field="*{isAdmin}" th:value="${true}"
                           type="checkbox"/>
                    <label class="form-check-label" for="checkBoxIsAdmin"> ACTIVE ADMIN RIGHTS </label>
                </div>
            </td>

            <td th:if="*{id == 1}">
                <label class="form-check-label" for="checkBoxIsAdmin"> ACTIVE ADMIN RIGHTS </label>
            </td>

            <td>
                <input class="btn btn-primary btn-block mb-4" type="submit" value="Save changes"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<footer th:replace="fragments/footer::footer"></footer>

<th:block th:replace="fragments/scripts::scripts">

</th:block>

</body>

</html>