<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<nav th:replace="fragments/navbar.html"></nav>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Products about your messages: </h5>
                <div class="card">
                    <div class="card-body">

                        <th:block th:if="${products.size() == 0}">
                            <h3>You have no messages yet.</h3>
                        </th:block>

                        <ul class="list-unstyled mb-0">
                            <li th:each="product : ${products}" th:object="${product}" class="p-2 border-bottom">
                                <a th:href="@{/messages/products/{id}(id=*{id})}"
                                   class="d-flex justify-content-between">
                                    <div class="d-flex flex-row">
                                        <img th:src="*{picture.url}" alt="avatar"
                                             class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                                             width="60">
                                        <div class="pt-1">
                                            <p class="fw-bold" th:text="|About: *{title}|">Danny Smith</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer::footer"></footer>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>
</html>