<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
    <meta charset="UTF-8">
    <meta content="text/html" http-equiv="Content-Type">
    <title>Buy8Sell</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<div class="container mt-5">

    <div class="row mb-7"
         th:object="${productInfoView}">
        <div class="col-md-5">

            <img height="380"
                 th:src="*{picture.getUrl()}" width="400"/>

            <div style="position: center">
                <div class="form-outline mb-2">
                    <label class="form-label" th:text="|Views: *{views}|">Views</label>
                </div>

                <div class="form-outline mb-2">
                    <label class="form-label" th:text="|In favorites on: *{fans.size()}|">Views</label>
                </div>


                <th:block th:if="*{!seller.email.equals(#authentication.principal.username)}">

                    <div th:if="*{!isProductIsFavorInCurrentUser()}">
                        <form th:action="@{/users/add/favorites/{id}/{info}(id=*{id},info='info')}"
                              th:method="post">
                            <button
                                    class="btn btn-danger bi bi-heart" type="submit">Add to favorites
                            </button>
                        </form>
                    </div>

                    <div th:if="*{isProductIsFavorInCurrentUser()}">
                        <form th:action="@{/users/remove/favorites/{id}/{info}(id=*{id},info='info')}"
                              th:method="post">
                            <button class="btn btn-success bi bi-heart" type="submit">
                                Remove from favorites
                            </button>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="col">
            <div class="col-md-12">
                <div class="card px-5 py-5" id="form1">
                    <!-- Title  -->
                    <strong><h5 class="text-center" text="title of product" th:text="*{title}"></h5></strong>
                    <div class="form-data">

                        <div>
                            <!-- Condition -->
                            <div class="form-outline mb-2" th:if="*{condition != null}">
                                <strong class="form-label">Condition:</strong>
                                <label class="form-label" th:text="*{condition.name()}">Condition</label>
                            </div>

                            <!-- Category input -->

                            <div class="form-outline mb-2">
                                <strong class="form-label">Category:</strong>
                                <label class="form-label" th:text="*{category.category.name()}">Category</label>
                            </div>


                            <!-- description input -->

                            <div class="form-outline mb-2">
                                <strong class="form-label">Description:</strong>
                                <label class="form-label" th:text="*{description}">Description</label>
                            </div>

                            <!--  Price -->
                            <div class="form-outline mb-2">
                                <strong class="form-label">Price:</strong>
                                <label class="form-label" th:text="*{price}">Price</label>
                            </div>

                            <!-- Location input -->

                            <div class="form-outline mb-2">
                                <strong class="form-label">Location:</strong>
                                <label class="form-label" th:text="*{location.location.name()}"></label>
                            </div>

                            <div class="form-outline mb-2" th:if="*{isPromo()}">
                                <h5>
                                    <span class="form-label badge badge-warning" th:text="|Promo|"></span>
                                </h5>

                            </div>

                            <div class="form-outline mb-2">
                                <strong class="form-label">Number for contact with seller:</strong>
                                <label class="form-label" th:text="*{seller.getMobileNumber()}"></label>
                            </div>
                            <div class="form-outline mb-2">
                                <label class="form-label"
                                       th:text="|Uploaded: ${#temporals.format(productInfoView.modified,'dd-MM-yyyy HH:mm')}|"
                                >Created</label>
                            </div>

                            <th:block th:if="*{(seller.email.equals(#authentication.principal.username))}">

                                <form th:action="@{/products/delete/{id}(id=*{id})}"
                                      th:method="delete">
                                    <input class="btn btn-primary btn-block mb-2"
                                           type="submit" value="Delete"></input>
                                </form>

                                <form th:action="@{/products/edit/{id}(id=*{id})}"
                                      th:method="get">
                                    <input class="btn btn-danger btn-block mb-2"
                                           type="submit" value="Edit"></input>
                                </form>
                            </th:block>
                            <th:block th:if="*{!seller.email.equals(#authentication.principal.username)}">

                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <form th:action="@{/products/delete/{id}(id=*{id})}"
                                          th:method="delete">
                                        <input class="btn btn-primary btn-block mb-2"
                                               type="submit" value="Delete"></input>
                                    </form>

                                    <form th:action="@{/products/edit/{id}(id=*{id})}"
                                          th:method="get">
                                        <input class="btn btn-danger btn-block mb-2"
                                               type="submit" value="Edit"></input>
                                    </form>
                                </th:block>

                                <form th:action="@{/messages/send/{receiverId}/{productId}(receiverId=${productInfoView.seller.id},productId=${productInfoView.getId()})}"
                                      th:method="post"
                                      th:object="${messageBindingModel}">

                                        <textarea class="form-control"
                                                  placeholder="Write your message..."
                                                  th:errorclass="is-invalid" th:field="*{message}"
                                                  type="text"></textarea>
                                    <small class="invalid-feedback text-danger">Message can NOT be null! Please write something! </small>
                                    <input class="btn btn-primary btn-block mb-2" type="submit" value="Send message"/>

                                    <div class=" alert alert-success text-center"
                                         role="alert" th:if="${isSend}">
                                        You have successfully sent the message!
                                    </div>
                                </form>
                            </th:block>

                            <div class=" alert alert-success text-center" role="alert"
                                 th:if="${updated}">
                                You successfully update product!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-7">
            <div class="card text-center" id="comments">
                <h3 th:if="*{comments.size() > 0}">
                    Comments:
                </h3>
                <h3 th:if="*{comments.size() == 0}">
                    There are no comments for this product yet, be the first!
                </h3>

            </div>
            <div class="card"
                 id="commentBody" th:each="comment : *{comments}">
                <div class="justify-content-between p-3" id="nameAuthorAndDate">
                    <p class="fw-bold mb-0" th:text="|${comment.getAuthor().getFullName()}|">nameAuthor</p>
                    <p class="text-muted small "
                       th:text="|Writen on: ${#temporals.format(comment.created,'dd-MM-yyyy HH:mm')}|">date</p>
                </div>
                <div class="card-header d-flex " id="commentTextContent">
                    <p class="mb-0" th:text="${comment.textContent}">content</p>
                </div>
            </div>
        </div>

    </div>

    <div>
        <form th:action="@{/comments/add/{id}(id=${productInfoView.id})}"
              th:method="post"
              th:object="${commentBindingDto}"
        >
            <input class="form-control"
                   id="textContent"
                   name="textContent" placeholder="White your comment..." th:errorclass="is-invalid" th:field="*{textContent}"></input>
            <small class="invalid-feedback text-danger">Comment content can NOT be null!</small>
            <button class="btn btn-info" for="description" type="submit">Add comment</button>
        </form>
    </div>

</div>


<footer th:replace="fragments/footer::footer"></footer>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>