<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id:</th>
        <th scope="col">Created:</th>
        <th scope="col">Last updated:</th>
        <th scope="col">First Name:</th>
        <th scope="col">Last Name:</th>
        <th scope="col">Mobile number:</th>
        <th scope="col">Email address:</th>
        <th scope="col">Roles:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" user : ${allUsersViewModels}" th:object="${user}">
        <th scope="row" th:text="*{id}">1</th>
        <td th:text="${#temporals.format(user.created,'dd-MM-yyyy HH:mm')}">1</td>
        <td th:text="${#temporals.format(user.modified,'dd-MM-yyyy HH:mm')}">1</td>
        <td th:text="*{firstName}">Otto</td>
        <td th:text="*{lastName}">@moto</td>
        <td th:text="*{mobileNumber}">0893250782</td>
        <td th:text="*{email}">emi@bg</td>
        <td th:text="*{rolesToString()}">ADMIN</td>
        <td><a class="btn btn-danger" th:href="@{/admin/users/edit/{userId}(userId=*{id})}">Edit</a></td>
    </tr>

    </tbody>
</table>

<div class=" alert alert-success text-center" role="alert"
     th:if="${successfulUpdated}">
    Your changes have been successfully saved!
</div>

<footer th:replace="fragments/footer::footer"></footer>

<th:block th:replace="fragments/scripts::scripts">

</th:block>

</body>

</html>