<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">

</head>
<body>

<nav th:replace="fragments/navbar.html"></nav>


<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />-->
<div class="container bootdey">

    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="col mb-4 row product-list">

            <div th:each="productView : ${myProductsSearchViewModelList}" th:object="${productView}"
                 class="col-md-4">
                <section class="panel">

                    <div class="pro-img-box text-center">
                        <img th:src="*{pictureUrl}"
                             width="250" height="220" />
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a th:href="@{/products/info/{id}(id=*{id})}" th:text="*{title}" class="pro-title">
                                tittle
                            </a>
                        </h4>
                        <h5 th:if="*{isPromo()}"><span class="badge badge-warning">PROMO</span></h5>
                        <p class="price" th:text="|*{price} BGN|">$300.00</p>

                    </div>


                    <div class="row mb-4">

                        <div class="col">
                            <form class="text-center"
                                  th:method="get"
                                  th:action="@{/products/edit/{id}(id=*{id})}">
                                <button
                                        id="editButton"  type="submit" class="btn btn-warning" >Edit
                                </button>
                            </form>
                        </div>

                        <div class="col">
                            <form class="text-center"
                                  th:method="post"
                                  th:action="@{/products/delete/{id}(id=*{id})}">
                                <button id="deleteButton"  type="submit" class="btn btn-danger bi bi-heart" >
                                   Delete
                                </button>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer::footer" ></footer>

<th:block th:replace="fragments/scripts::scripts"></th:block>

<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->

</body>



</html>