<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">

                <h2 class="text-center">Change password</h2>

                <div class="form-data">

                    <form th:method="post"
                          th:object="${passwordChangingBindingModel}"
                          th:action="@{/users/passwords/change}">


                        <div class="form-outline mb-4">
                            <input  th:field="*{oldPassword}"
                                    th:errorclass="'is-invalid alert-danger'"
                                    type="password" id="form2Example132" class="form-control" />
                            <label class="form-label" for="form2Example132">Enter your old password:</label>
                            <small class="invalid-feedback text-danger">The password should be between 3 and 20 symbols and can not be null! </small>
                            <small th:if="${isThisNotOldPassword}" class=" text-danger">Incorrect password! </small>
                        </div>

                        <div class="form-outline mb-4">
                            <input th:field="*{newPassword}"
                                   th:errorclass="'is-invalid alert-danger'"
                                    type="password" id="form2Example52" class="form-control" />
                            <label class="form-label" for="form2Example2">Enter your new password:</label>
                            <small class="invalid-feedback text-danger">The password should be between 3 and 20 symbols and can not be null! </small>
                            <small th:if="${isNewPasswordIsEqualToOldPass}" class="text-danger">The new password can not be the same like old password! </small>
                        </div>

                        <div class="form-outline mb-4">
                            <input th:field="*{newPasswordConfirm}"
                                   th:errorclass="'is-invalid alert-danger'"
                                    type="password" id="form2Example2" class="form-control" />
                            <label class="form-label" for="form2Example2">Confirm new password:</label>
                            <small class="invalid-feedback text-danger">The password should be between 3 and 20 symbols and can not be null! </small>
                            <small th:if="${passwordsNotMach}" class="text-danger">Password do not match! </small>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Save new password</button>

                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</form>

<footer th:replace="fragments/footer::footer" ></footer>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>



</html>